.main_clothing {
  font-family: "CabinetGrotesk-Regular";
}

.main_text {
  /* font-family: "CabinetGrotesk-Regular";
  font-style: normal; */
  font-weight: 700;
  font-size: 20px;
  /* line-height: 25px; */
}

.main__button {
  display: none;
}
