/* .weather {
  position: relative;
}

.weather_info {
  position: absolute;
  margin-top: 12px;
  left: 16px;
  color: white;
  font-size: 36px;
}

.weather_image {
  width: 100%;
}

.main {
  padding: 0 20px;
} */

@media screen and (min-width: 375px) and (max-width: 822px) {
}

/* @media screen and (min-width: 823px) and (max-width: 1440px) {
} */
