.header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1440px;
  padding-top: 32px;
  position: relative;
  z-index: 1;
}

.header__left {
  grid-gap: 24px;
  display: grid;
  gap: 24px;
  grid-template-columns: auto;
  grid-template-rows: 40px;
  margin: 0 0 0 40px;
}

.header__logo {
  grid-column: 1/1;
  grid-row: 1/1;
  height: 40px;
  width: 89px;
}

.header__date {
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  grid-column: 2/2;
  grid-row: 1/1;
  line-height: 24px;
  margin: 13px 0 0;
}

.header__button {
  display: none;
  height: 44px;
  margin: 0 16px 0 0;
  width: 44px;
}

.header__right {
  grid-gap: 12px;
  display: grid;
  gap: 12px;
  grid-template-columns: auto;
  grid-template-rows: 40px;
  margin: 0 40px 0 0;
}

.header__avatar {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__avatar-image {
  padding: 20px 0 0 0;
}

.header__name {
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  padding: 40px 12px 0 0;
}

.header__add {
  background-color: white;
  border: none;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  grid-column: 2/2;
  grid-row: 1/1;
  line-height: 24px;
  padding: 14px 0 0 0;
}

.header__add:hover {
  cursor: pointer;
  opacity: 0.6;
}

.header__link {
  text-decoration: none;
  list-style-type: none;
  grid-column: 3/3;
  grid-row: 1/1;
  display: flex;
  color: black;
  padding: 0 0 24px 0;
}

@media screen and (min-width: 375px) and (max-width: 822px) {
  .header {
    max-width: 375px;
  }

  .header__left {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 12px;
  }

  .header__right {
    display: none;
  }
}

/* @media screen and (min-width: 823px) and (max-width: 1440px) {
} */
