.popup__container-image {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  bottom: 0;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  margin: 0;
  opacity: 1;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.popup__photo {
  background-color: white;
  border-radius: 16px;
  position: relative;
  height: 610px;
}

.popup__image {
  display: flex;
  justify-content: center;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.popup__close {
  background-image: url(../Images/Union.svg);
  border: none;
  height: 16px;
  position: absolute;
  right: 10px;
  top: 22px;
  width: 16px;
  margin-right: 20px;
}

.popup__close:hover {
  cursor: pointer;
  opacity: 0.6;
}

.popup__subcontainer {
  display: flex;
  justify-content: space-between;
}

.popup__title {
  margin: 12px 0 0 32px;
  font-style: normal;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  width: fit-content;
}

.popup__weather {
  margin: 12px 0 0 32px;
  font-size: 20px;
  font-weight: 700;
}

@media screen and (min-width: 375px) and (max-width: 975px) {
  .popup__photo {
    background-color: white;
  }

  .popup__title {
    margin: 20px 0 0 20px;
  }

  .popup__weather {
    margin: 20px 0 0 20px;
  }

  .popup__image {
    height: 343px;
    max-height: 100%;
    max-width: 100%;
    width: 343px;
  }

  .popup__close {
    margin-top: 0;
    right: 12px;
  }
}
