.popup__container-image {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  bottom: 0;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  margin: 0;
  opacity: 1;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.popup__photo {
  background-color: white;
  border-radius: 16px;
  position: relative;
  height: 610px;
}

.popup__image {
  display: flex;
  justify-content: center;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.popup__close {
  background-image: url(../images/Union.svg);
  border: none;
  height: 16px;
  position: absolute;
  right: 10px;
  top: 22px;
  width: 16px;
  margin-right: 20px;
}

.popup__close:hover {
  cursor: pointer;
  opacity: 0.6;
}

.popup__subcontainer {
  display: flex;
  justify-content: space-between;
}

.popup__title {
  margin: 12px 0 0 32px;
  font-style: normal;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  width: fit-content;
}

.popup__weather {
  margin: 12px 0 0 32px;
  font-size: 20px;
  font-weight: 700;
}

.popup__delete {
  color: #ff4d00;
  font-size: 20px;
  font-weight: 700;
  margin: 20px 32px 0 0;
  height: fit-content;
  border: none;
  background-color: #fff;
}

.popup__delete:hover {
  opacity: 0.6;
  cursor: pointer;
}

.popup__confirmation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
  padding: 24px;
  z-index: 1;
  text-align: center;
}

.popup__confirmation p {
  font-size: 18px;
  margin-bottom: 16px;
}

.popup__text_confirm {
  font-size: 14px;
  margin-bottom: 24px;
}

.popup__confirmation-buttons {
  display: flex;
  justify-content: center;
}

.popup__button_confirm {
  background-color: #e74c3c;
  color: #ffffff;
  padding: 8px 16px;
  border-radius: 4px;
  margin-right: 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.popup__button_confirm:hover {
  background-color: #c0392b;
}

.popup__button_cancel {
  background-color: #bdc3c7;
  color: #ffffff;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.popup__button_cancel:hover {
  background-color: #95a5a6;
}

@media screen and (min-width: 375px) and (max-width: 822px) {
  .popup__photo {
    background-color: white;
    border-radius: 16px;
    height: 463px;
    position: relative;
    width: 343px;
  }

  .popup__title {
    margin: 20px 0 0 20px;
  }

  .popup__weather {
    margin: 20px 0 0 20px;
  }

  .popup__image {
    height: 343px;
    max-height: 100%;
    max-width: 100%;
    width: 343px;
  }

  .popup__close {
    margin-top: 0;
    right: 12px;
  }
}

/* @media screen and (min-width: 823px) and (max-width: 1440px) {
} */
