.main {
  margin: 33px auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: relative;
  max-width: 1440px;
}

.main__container {
  margin: 0 40px;
}

.main__clothing {
  margin: 40px 0 0;
}

.main__text {
  font-size: 20px;
  font-weight: 700;
}

.main__button {
  display: none;
}

.main__cards {
  grid-gap: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 328px);
  margin: 34px 0 0;
  padding: 0;
}

@media screen and (min-width: 375px) and (max-width: 975px) {
}

@media screen and (min-width: 976px) and (max-width: 1440px) {
}
