.modal__container-confirm {
  z-index: 1;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 0;
  display: flex;
  opacity: 1;
  justify-content: center;
  align-items: center;
}

.modal__confirm {
  background-color: #fff;
  width: 496px;
  height: 280px;
  border: 1px solid rgba(0, 0, 0.3);
  border-radius: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.modal__container_confirm {
  text-align: center;
}

.modal__text_confirm {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  line-height: 1.2em;
}

.modal__button_confirm {
  font-size: 20px;
  font-weight: 700;
  color: #ff4d00;
  border: none;
  background-color: #fff;
  margin: 40px 0 0 0;
  padding: 0;
  width: fit-content;
}

.modal__button_confirm:hover {
  opacity: 0.6;
  cursor: pointer;
}

.modal__button_cancel {
  font-size: 20px;
  font-weight: 700;
  border: none;
  background-color: #fff;
  margin: 24px 0 0 0;
  padding: 0;
  width: fit-content;
}

.modal__button_cancel:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (min-width: 375px) and (max-width: 822px) {
  .modal__confirm {
    max-width: 343px;
  }
}

/* @media screen and (min-width: 823px) and (max-width: 1400px) {
} */

/* .modal__container-form {
  z-index: 1;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 0;
  display: flex;
  opacity: 1;
  justify-content: center;
  align-items: center;
}

.modal__form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #fff;
  height: 436px;
  width: 496px;
  border-radius: 20px;
  box-sizing: border-box;
}

.modal__fieldset {
  border: none;
  padding: 0;
  margin: 0;
  width: 496px;
  background-color: white;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0.3);
}

.modal__button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding: 0;
  align-self: flex-end;
  display: flex;
}

.modal__close {
  background-image: url(../images/Union.svg);
  border: none;
  background-color: white;
  height: 14px;
  position: absolute;
  right: 26px;
  top: 26px;
  width: 14px;
}

.modal__header {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  color: #000;
  font-size: 16px;
  font-weight: 700;
  margin: 28px 0 0 28px;
  width: 330px;
}

.modal__add {
  width: 124px;
  height: 36px;
  background-color: black;
  margin: 34px 0 36px 28px;
  padding: 0;
  border: none;
  border-radius: 4px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: white;
}

.modal__add:hover {
  opacity: 0.6;
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
}

.modal h2 {
  text-align: center;
  margin-bottom: 20px;
}

.modal form {
  display: flex;
  flex-direction: column;
}

.modal input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal button:hover {
  background-color: #0056b3;
} */
