.page {
  background-color: silver;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  margin: 0 auto;
  position: relative;
}

@media screen and (min-width: 375px) and (max-width: 822px) {
}

@media screen and (min-width: 976px) and (max-width: 1440px) {
}
