.sidebar {
  display: flex;
  flex-flow: row;
  align-self: flex-start;
  flex-wrap: nowrap;
  max-width: 100%;
}

.sidebar__container {
  color: white;
  font-size: 36px;
  font-weight: 700;
  padding: 0 0 0 40px;
  margin: 0 0 0 150px;
}

.sidebar__avatar {
  padding: 7px 16px 0 0;
  box-sizing: border-box;
  position: absolute;
  height: 56px;
  left: 60px;
  top: 100px;
}

.sidebar__name {
  position: absolute;
  width: 157px;
  height: 25px;
  left: 150px;
  top: 120px;
  font-family: "Cabinet Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
}
