.switch {
  display: flex;
  grid-column: 1/1;
  grid-row: 1/1;
}

.switch__container {
  height: 28px;
  width: 56px;
  left: 939px;
  top: 6px;
  border-radius: 0px;
}

.switch__input {
  border: none;
  height: 0;
  margin: 0;
  padding: 0;
  visibility: hidden;
  width: 0;
}

.switch__label {
  display: flex;
  cursor: pointer;
  width: 56px;
  height: 28px;
  background: #fff;
  border-radius: 20px;
  position: relative;
  transition: background-color 0.2s;
  border: 2px solid #7e7e7e;
  margin: 12px 0 0 0;
}

.switch__button {
  position: absolute;
  z-index: 0;
  left: 1px;
  width: 28px;
  height: 28px;
  border-radius: 45px;
  transition: 0.2s;
  background: #000;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
}

.switch__C {
  position: absolute;
  left: 28px;
  width: 28px;
  /* height: 28px; */
  right: 0%;
  top: 0%;
  bottom: 0%;
  font-family: "Cabinet Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #7e7e7e;
  /* background-color: rgb(0, 0, 0, 0.5); */
  justify-content: center;
}

.switch__F {
  position: absolute;
  width: 28px;
  /* height: 28px; */
  left: 0%;
  right: 50%;
  top: 0%;
  bottom: 0%;
  font-family: "Cabinet Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  /* background-color: rgb(255, 255, 255); */
  justify-content: center;
}

.switch__label .switch__button {
  position: absolute;
  z-index: 0;
  left: 1px;
  width: 28px;
  height: 28px;
  border-radius: 45px;
  transition: 0.2s;
  background: #000;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.switch__input:checked + .switch__label .switch__button {
  left: calc(100% - 1px);
  transform: translateX(-100%);
}

.switch__label:active .switch__button {
  width: 56px;
}

.switch__slider-F {
  left: 15px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.switch__slider-C {
  left: 41px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.switch__active-F .switch__active-C {
  z-index: 100;
  top: -14px;
  right: 2px;
  font-size: 15px;
  position: absolute;
}

/* .switch__slider-F {
  border-radius: 20px;
  width: 20px;
  height: 20px;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  position: absolute;
  left: 3px;
  top: 2px;
}

.switch__slider-C {
  border-radius: 20px;
  width: 20px;
  height: 20px;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  position: absolute;
  left: 23px;
  top: 2px;
} */

/* .switch__slider::after {
  right: 24px;
} */
