.weather {
  position: relative;
  /* margin: 0; */
}

.weather__info {
  position: absolute;
  top: 0;
  left: 0px;
  color: white;
  font-size: 36px;
  font-weight: 700;
  padding: 20px 0 0;
  margin: 0 0 0 20px;

  /* color: #fff;
  font-size: 36px;
  font-weight: 700;
  left: 0;
  margin: 0 0 0 20px;
  padding: 20px 0 0;
  position: absolute;
  top: 0; */
}

.weather__container {
  position: relative;
}

.weather__image {
  /* width: 100%; */
  width: 1360px;
  height: 80px;
}

@media screen and (min-width: 375px) and (max-width: 822px) {
  .weather {
    max-width: 768px;
  }

  .weather__container {
    width: 100%;
  }

  .weather__image {
    border-radius: 20px;
    object-fit: none;
    object-position: 100% 0;
  }

  .weather__info {
    font-size: 36px;
  }
}

@media screen and (min-width: 976px) and (max-width: 1440px) {
}
