.weather {
  position: relative;
}

.weather_info {
  position: absolute;
  margin-top: 12px;
  left: 16px;
  color: white;
  font-size: 36px;
}

.weather_image {
  width: 100%;
}

.main {
  padding: 0 20px;
}

.card {
  background-color: #e9e9e9;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 19px;
  width: 328px;
  height: 328px;
  background: center no-repeat;
  background-size: 328px;
}

.card:hover {
  cursor: pointer;
}

.card__name {
  margin: 16px auto 0 auto;
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  font-weight: 700;
  background-color: #fff;
  border-radius: 4px;
  width: fit-content;
  text-align: center;
}

.card__image {
  width: 328px;
  height: 328px;
  border-radius: 10px;
}

/* .card_items {
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
  justify-content: center;
  margin-top: 20px;
} */

/* .footer {
  display: flex;
  align-items: flex-end;
  font-family: "Cabinet Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  justify-content: space-between;
  left: 40px;
  height: 50px;
  margin-top: 70px;
  padding: 0 40px;
} */
