.weather {
  position: relative;
}

.weather_info {
  position: absolute;
  margin-top: 12px;
  left: 16px;
  color: white;
  font-size: 36px;
}

.weather_image {
  width: 100%;
}

.main {
  padding: 0 20px;
}
